<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prijava</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Major+Mono+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="heading">REZERVACIJA GLASBENE SOBE</div>
    </header>
    <main>
        <div class="message" {{ state1 }}> {{ message }} </div>
        <div class="message" id="success" {{ state2 }}>Uspešno</div>
        <div class="form-container">
            <h1 id="reg-heading">Prijava</h1>
            <form action="" method="post">
                <input class="field" type="email" name="email" id="auth-email" placeholder="E-naslov">
                <input class="field" type="password" name="password" id="auth-pass" placeholder="Geslo">
                <div id="button-container">
                    <a class="form-button" id="new-user" href="reg">Nov uporabnik</a>
                    <input class="form-button" id="continue" type="submit" value="Prijava">
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>
</html>