<!DOCTYPE html>
<html lang="sl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registracija</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Major+Mono+Display&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="heading">REZERVACIJA GLASBENE SOBE</div>
    </header>
    <main>
        <div class="message" {{ state1 }}> {{ message }} </div>
        <div class="form-container">
            <h1 id="reg-heading">Registracija</h1>
            <form action="" method="post">
                <input class="field" type="email" name="new_email" id="reg-email" placeholder="Šolski e-naslov">
                <input class="field" type="password" name="new_password" id="reg-pass1" placeholder="Geslo">
                <input class="field" type="password" name="repeat_password" id="reg-pass2" placeholder="Ponovite geslo">
                <div id="button-container">
                    <a class="form-button" id="back" href="login">Nazaj</a>
                    <input class="form-button" id="register" type="submit" value="Ustvari račun">
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div></div>
    </footer>
</body>
</html>